/* estilo global aplicado ao body */
*{
    margin: 0 auto;
    padding: 0 auto; 
}

body{
    margin: auto;
    overflow-x: hidden;
    font-family:'letters';
}

:root {
    --azul:  rgb(2, 2, 46);
    --azul-2:  #367aca;
}